{% extends "base.html.twig" %}

{% block body %}
{% include "_inc/nav.html.twig" %}

<div class="container">

			    {% for notice in app.flashes('notice') %}
        			<p class="alert alert-success">{{notice}}</p>        
        		{% endfor %}
				<p>Cliquez sur ce boutton pour nous contacter:</p>

                <a class="btn btn-success" href="{{ url('homepage.contact') }}">Contact us</a>

</div>

{% endblock %}
{% block title %}
project
{% endblock %}